@mixin placeholder ($color) {
  &::-webkit-input-placeholder { /* Edge */
    color: $color;
    opacity: 0.4 !important;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
    opacity: 0.4 !important;
  }

  &::placeholder {
    color: $color;
    opacity: 0.4 !important;
  }
}
@mixin placeholder-custom ($color) {
  &::-webkit-input-placeholder { /* Edge */
    color: $color;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }

  &::placeholder {
    color: $color;
  }
}

@mixin respond-to-custom-height($media, $direction: max) {
  @media only screen and (#{$direction}-height: #{$media}px) {
    @content;
  }
}
@mixin respond-to-custom-width($media, $direction: max) {
  @media only screen and (#{$direction}-width: #{$media}px) {
    @content;
  }
}
@mixin respond-to-retina() {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @content;
  }
}
