// colors

// sizes
:root {
  --container-width: 1200px;
  --container-padding: 32px;
  --header-height: 61px;
  --footer-height: 280px;

  @include respond-to-custom-width(840) {
    --container-padding: 24px;
  }
}

$container-right-corner: calc(((100vw - var(--container-width)) / 2) + var(--container-width));
$container-left-corner: calc(((100vw - var(--container-width)) / 2));

// z-indexes
$z-select-field: 1;
$z-modal: 10;
